{% extends "base.html.twig"%}
{% block title %}
    {{ parent()  }} - Confirmez votre addresse
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block body %}

<h5>Merci pour votre inscription, veuillez cliquer sur le lien pour activer votre compte</h5>
<a href="http://localhost:8000/confirmation/{{ user.email }}/{{ user.tokenRegistration }}"><button class="btn btn-primary">Activer</button></a>

{% endblock %}