{% extends "base.html.twig"%}
{% block title %}
    {{ parent()  }} - Sign In
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block body %}
    <div class="wrap-login100 p-l-50 p-r-50 p-t-77 p-b-30">

        <form class="login100-form validate-form" method="post">
					<span class="login100-form-title p-b-55">
						Generate Password
					</span>
            <div class="wrap-input100 validate-input m-b-16" data-validate = "Valid email is required: ex@abc.xyz">
                <input type="text"  name="email" id="email" class="input100" placeholder="Email" autofocus>
                <span class="focus-input100"></span>
                <span class="symbol-input100">
							<span class="lnr lnr-envelope"></span>
						</span>
            </div>
            <div class="container-login100-form-btn p-t-25">
                <button type="submit" class="login100-form-btn">
                    Generate
                </button>
            </div>

            <div class="text-center w-full p-t-115">
						<span class="txt1">
							Not a member?
						</span>

                <a class="txt1 bo1 hov1" href="/register">
                    Sign up now
                </a>
            </div>
        </form>
    </div>
{% endblock %}